.container{ /*main container div*/
	font-family: 'Lobster', cursive;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom:5%;
  box-shadow: 4px  7px #003333;
  background-image:url(b1.jpg);
  background-image:norepeat;
background-size:cover;  
  border-radius: 30px;
}

#ab{
	height:100%;
	
}

.jumbotron              /*Heading div*/
{ 

	box-shadow:8px 10px #003333;
	background-image:url("h4.jpg");
	background-image:norepeat;
background-size:cover;  
	
	background-position:center;
	border-radius: 30px;
}
h1{
	font-family: 'Gugi', cursive;
  width: 100%;
   background-color: none;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 2px;
  margin-bottom: 20px;
  text-align:left;
  
}
.game
{
	padding-left:10%;
	
}

.btn{
	width:15%;
  background-color:#8FBC8E;
  border-radius: 15px;
  box-shadow: 2px  4px #003333;
  
 
}
.form-control
 {
	 border-radius: 15px;
	 }

.abt{
	border-radius:10%;
	box-shadow:4px 7px #003138;

	
	font-family: 'Gamja Flower', cursive;

  margin: 5px;
  background-color:none;
  padding-bottom: 100%;
  padding-left: 10%;
 
  padding-top: 15px;
}
